$min-footer-height: 96px;

body, html {
  overflow-x: hidden;
}

body, html, #root {
  min-height: 100vh;
}

.main {
  min-height: calc(100vh - #{$min-footer-height});
}

.pointer {
  cursor: pointer;
}

.undecoration {
  text-decoration: none;
}


// Breadcrumbs

.breadcrumb {
  margin-top: -1rem;
  margin-left: -1rem;
}

ol.breadcrumb {
  background-color: white;
}


// Navbar

.navbar-nav {
  & .dropdown-item {
    padding: 0;

    & .link {
      padding: .25rem 1.5rem;
      display: block;
      }
  }
}
