@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-image-lightbox/style.css';
@import 'react-toastify/dist/ReactToastify.css';

@font-face {
  font-family: 'Exo 2 light';
  src: url(./fonts/exo-2-light.ttf) format('opentype');
}

html {
  padding: 0;
}

body {
  font-family: 'Exo 2 light';
  position: relative;
  background: floralwhite;
}

.root .container {
  padding: 0;
}

a {
  text-decoration: none;
}

/* === Sticky footer ====== */

html,
body,
#root {
  height: 100%;
  min-width: 667px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  padding-top: 10px;
}

.main {
  flex: 1 0 auto;
}

/* ======================== */

.cursor-pointer {
  cursor: pointer;
}

.login-svg {
  width: 30px;
}
