.footer {
  text-align: center;
  color: lightgray;
  padding: 0;
}
  
.footer-main {
  background-color: lightgray;
  padding: .5rem 0;
}

.header {
  box-shadow: 2px 0 14px rgba(2,123,243,0.15),0 0 3px rgba(2,123,243,0.1);
  padding: 0.2rem 1rem !important;
}

nav {
  background: white;
}

.footer-second {
  background-color: gray;
  text-align: center;
  padding: .5rem 0;
}